.bg-card-green {
    background-color: #00693C;
}

.bg-blue-sky {
    background-color: blue-sky;
}

.bg-blue-pokemon {
    background-color: #01426A;
}

.bg-aliceblue {
  background-color: aliceblue;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-khaki {
  background-color: khaki;
}
