.color-blue-sky {
    color: #2C85BC;
}

.color-red-600 {
    color: rgb(220 38 38);
}

.color-blue-metaphoto {
    color: #01426A;
}

.color-gray-text {
    color: #868686;
}

.border-blue-metaphoto {
  border-color: #01426A;
}
