<mat-drawer-container class="sidenav-container bg-white" [ngClass]="{'d-none': isPhotoSelect}" autosize>
  <mat-drawer #drawer
              class="sidenav"
              [mode]="'over'"
              [opened]="false">
    <app-filters></app-filters>
  </mat-drawer>

  <div class="sidenav-content">
    <div>
      <button mat-icon-button
          type="button"
          color="primary"
          aria-label="Regresar"
          [matTooltip]="'Ver filtros'"
          [matTooltipPosition]="'right'"
          (click)="toggleDrawer(); drawer.toggle()">
      <mat-icon>{{ 'keyboard_arrow_right' }}</mat-icon>
    </button>
    </div>
    <div class="w-100">
      <app-list-photos></app-list-photos>
    </div>
  </div>
</mat-drawer-container>

<ng-container *ngIf="isPhotoSelect">
  <app-photo [photo]="currentPhoto"></app-photo>
</ng-container>
